
.all_projects {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}


// .modal_overlay {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background: rgb(191, 191, 191);
//   z-index: 9999;
//   width: 100%;
//   height: 100vh;
//   padding: 0 !important;
// }
// .modal {
//   border-radius: 12px;
//   max-width: 600px;
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
// }
