.title {
  font-size: 1.125rem;
  font-weight: bold;
  height: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  overflow: hidden;
  color: white;
}

.title::before {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgb(11 227 39 / 95%),
    transparent
  );
  animation: swipe 3s linear infinite;
  overflow: hidden;
}

@keyframes swipe {
  0% {
    left: -150%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 150%;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 0.8rem;
  }
}
a {
  color: white;
  text-decoration: none;
}
.container-spacing {
  padding: 0 6rem;
}

@media (max-width: 992px) {
  .container-spacing {
    padding: 0 2rem !important;
  }
}
@media (max-width: 365px) {
  .container-spacing {
    padding: 0 0.5rem !important;
  }
}