@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@import "./assets/css/repeated.css";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  padding: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: var(--font-poppins);
  font-family: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(150deg, #0f3166, #0f3166, #0f3166, #0f3166);
  background-size: 300% 300%;
  animation: gradientMove 12s ease infinite;
  font-family: var(--font-montserrat);
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
