@import "./assets/css/repeated.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.3);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}